<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body bgcolor="white">

<!-- PAA Taulukko alkaa -->
<table name="paa_taulukko" border="0" width="100%" height="100%" cellpadding="10">
<tr><td valign="top">
  
 <!-- Taulukko1 alkaa -->
 <table name="taulukko1" border="0" cellpadding="5" bgcolor="grey">
 <tr>
 <td valign="top">

 <!-- Taulukko2 alkaa -->
 <table name="taulukko2" border="0" width="100%" cellpadding="10" bgcolor="silver">
 <tr>
 <td valign="top">

  <!-- Taulukko3 alkaa -->
  <table name="taulukko3" border="0" cellpadding="3">
  <tr>
  <td>
  <div class="bold_heading">Rebirth:</div>
  <select name="Rebirth_Selection" id="Rebirth_Selection" class="select_text_box" onchange="Update_RaceList()">
   <option value="Mortal" selected>Mortal</option>
   <option value="Elder">Elder</option>
   <option value="Ancient">Ancient</option>
   <option value="Eternal">Eternal</option>
  </select>
  </td>
  </tr>
  <tr>
  <td>
  <div class="bold_heading">Race guild levels:</div>
  <select name="Race_guild_levels_Selection" class="select_text_box" id="Race_guild_levels_Selection" onchange="Update_RaceGuild_Skills_Spells()">
   <option value="5" selected>5</option>
  </select>
  </td>
  </tr>
  <tr>
  <td>
  <div class="bold_heading">Race:</div>
  <select name="Race_Selection" id="Race_Selection" class="select_text_box" onchange="Update_RaceInfo()">
   <option value="Barsoomian" selected>Barsoomian</option>
   <option value="Brownie">Brownie</option>
   <option value="Catfolk">Catfolk</option>
   <option value="Centaur">Centaur</option>
   <option value="Cromagnon">Cromagnon</option>
   <option value="Cyclops">Cyclops</option>
   <option value="Drow">Drow</option>
   <option value="Duck">Duck</option>
   <option value="Dwarf">Dwarf</option>
   <option value="Elf">Elf</option>
   <option value="Ent">Ent</option>
   <option value="Giant">Giant</option>
   <option value="Gnoll">Gnoll</option>
   <option value="Gnome">Gnome</option>
   <option value="Hobbit">Hobbit</option>
   <option value="Human">Human</option>
   <option value="Kobold">Kobold</option>
   <option value="Leech">Leech</option>
   <option value="Lizardman">Lizardman</option>
   <option value="Merfolk">Merfolk</option>
   <option value="Minotaur">Minotaur</option>
   <option value="Moomin">Moomin</option>
   <option value="Ogre">Ogre</option>
   <option value="Orc">Orc</option>
   <option value="Penguin">Penguin</option>
   <option value="Satyr">Satyr</option>
   <option value="Skeleton">Skeleton</option>
   <option value="Sprite">Sprite</option>
   <option value="Thrikhren">Thrikhren</option>
   <option value="Tinmen">Tinmen</option>
   <option value="Troll">Troll</option>
   <option value="Valar">Valar</option>
   <option value="Wolfman">Wolfman</option>
   <option value="Zombie">Zombie</option>
  </select>
  </td>
  </tr>
  <tr>
  <td>
  <div class="bold_heading">Background:</div>
  <select name="Background_Selection" id="Background_Selection" class="select_text_box" onchange="Update_Guilds(this.value)">
   <option value="Civilized" selected>Civilized</option>
   <option value="Evil religious">Evil religious</option>
   <option value="Good religious">Good religious</option>
   <option value="Magical">Magical</option>
   <option value="Nomad">Nomad</option>
  </select>
  </td>
  </tr>
  <tr>
  <td align="center">
  <br>
  <!-- Laita lopuksi onclick="window.location.href='reincsim.html'" jos ja kun joskus projekti on valmis :) -->
  <input type="button" class="reset_button" value="Reset all" onclick="window.location.reload(true)">
  </td>
  </tr>
  </table>
  <!-- Taulukko3 loppuu -->

  </td>
  <td valign="top" class="pystyviiva">

    <!-- Taulukko4 alkaa -->
    <table name="taulukko4" border="0" cellpadding="3">
    <tr>
    <td>
    <div class="bold_heading">Guilds:</div>
    <select name="Guild1_Selection" id="Guild1_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 1)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td valign="top">
    <div class="bold_heading">Lvls:</div>
    <select name="Guild1_lvls_Selection" id="Guild1_lvls_Selection" class="select_number_box" onmouseup="TESTI(1)" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild2_Selection" id="Guild2_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 2)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild2_lvls_Selection" id="Guild2_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild3_Selection" id="Guild3_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 3)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild3_lvls_Selection" id="Guild3_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild4_Selection" id="Guild4_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 4)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild4_lvls_Selection" id="Guild4_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild5_Selection" id="Guild5_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 5)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild5_lvls_Selection" id="Guild5_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild6_Selection" id="Guild6_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 6)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild6_lvls_Selection" id="Guild6_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild7_Selection" id="Guild7_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 7)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild7_lvls_Selection" id="Guild7_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild8_Selection" id="Guild8_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 8)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild8_lvls_Selection" id="Guild8_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    </table>
    <!-- Taulukko4 loppuu -->

   </td>
   <td valign="top" class="pystyviiva">

    <!-- Taulukko5 alkaa -->
    <table name="taulukko5" border="0" cellpadding="3">
    <tr>
    <td>
    <div class="bold_heading">Guilds:</div>
    <select name="Guild9_Selection" id="Guild9_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 9)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <div class="bold_heading">Lvls:</div>
    <select name="Guild9_lvls_Selection" id="Guild9_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild10_Selection" id="Guild10_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 10)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild10_lvls_Selection" id="Guild10_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild11_Selection" id="Guild11_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 11)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild11_lvls_Selection" id="Guild11_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild12_Selection" id="Guild12_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 12)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild12_lvls_Selection" id="Guild12_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild13_Selection" id="Guild13_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 13)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild13_lvls_Selection" id="Guild13_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <select name="Guild14_Selection" id="Guild14_Selection" class="select_text_box guildSelector" onchange="Check_Requiments(this.value, 14)">
     <option value="None" selected>None</option>
     <option value="Aelena">Aelena</option>
     <option value="Alchemists">Alchemists</option>
     <option value="Bard">Bard</option>
     <option value="Cavalier">Cavalier</option>
     <option value="Civilized fighters">Civilized fighters</option>
     <option value="Civmage">Civmage</option>
     <option value="Disciple">Disciple</option>
     <option value="Explorer">Explorer</option>
     <option value="Folklorist">Folklorist</option>
     <option value="Knight">Knight</option>
     <option value="Merchant">Merchant</option>
     <option value="Navigator">Navigator</option>
     <option value="Runemages">Runemages</option>
     <option value="Sabres">Sabres</option>
     <option value="Squire">Squire</option>
     <option value="Treenav">Treenav</option>
    </select>
    </td>
    <td>
    <select name="Guild14_lvls_Selection" id="Guild14_lvls_Selection" class="select_number_box" onchange="Calculate_Levels()">
     <option value="0" selected>0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <div class="bold_heading">Ascension:</div>
    </td>
    <td>
    <select name="Ascension_Selection" id="Ascension_Selection" class="select_number_box">
     <option value="0">0</option>
    </select>
    </td>
    </tr>
    <tr>
    <td name="TotalLevelsBox" id="TotalLevelsBox" class="total_levels">
    <b>Levels:</b> 15
    </td>
    </tr>
    </table>
    <!-- Taulukko5 loppuu -->
   </td>
   <td valign="top" class="pystyviiva">
    <!-- Taulukko6 alkaa -->
    <table name="taulukko6" border="0" cellpadding="5">
    <tr>
    <td valign="top" name="RaceInfoBox" id="RaceInfoBox">
    <div class="bold_heading">Race information:</div>
  	<!-- Taulukko7 alkaa -->
  	<table border="0" cellpadding="3">
  	<tr>
  	<td><b>Race:</b></td><td id="Race_Name">Barsoomian</td>
  	</tr><tr>
  	<td><b>Str:</b></td><td id="Race_Str">63</td>
  	</tr><tr>
  	<td><b>Dex:</b></td><td id="Race_Dex">101</td>
  	</tr><tr>
  	<td><b>Con:</b></td><td id="Race_Con">77</td>
  	</tr><tr>
  	<td><b>Int:</b></td><td id="Race_Int">52</td>
  	</tr><tr>
  	<td><b>Wis:</b></td><td id="Race_Wis">42</td>
  	</tr><tr>
  	<td><b>Size:</b></td><td id="Race_Size">50</td>
  	</tr><tr>
  	<td><b>Exp:</b></td><td id="Race_Exprate">80</td>
  	</tr><tr>
  	<td><b>Skill:</b></td><td id="Race_Skillmax">74</td>
  	</tr><tr>
  	<td><b>Spell:</b></td><td id="Race_Spellmax">60</td>
  	</tr>
  	</table>
  	<!-- Taulukko7 loppuu -->
	  </td>
	  </tr>
	  </table>
    <!-- Taulukko6 loppuu -->
   </td>
   </tr>
   </table>
   <!-- Taulukko2 loppuu -->

 </td>
 </tr>
 <tr>
 <td>
  
<!-- Pohjataulukko Gold & Exp costille & Boons alkaa -->
  <table border="0" cellpadding="10" bgcolor="silver" width="100%">
  <tr>
  <td>
   <!-- Extra taulukko X alkaa -->
   <table border="0" cellpadding="0" width="100%">
   <tr>
    <td>
	   <div class="bold_heading">Total costs</div>
	  </td>
    </tr>
    <tr>
     <td>
      <!-- Tähän Gold & Exp cost taulukko -->
      <table border="0" cellpadding="3"> 
      <tr>	  
       <td>
         <b>Total exp:</b>
       </td>
		   <td>
		     <div id="TotalsExp" class="total_text_box2">1234567890</div>
		   </td>
       <td>
         <b>Total gold:</b>
       </td>
		   <td>
		     <div id="TotalsGold" class="total_text_box2">1234567890</div>
		   </td>
       <td>
		     <b>Training points:</b>
		   </td>
       <td>
         <div id="TotalsTrainingPoints" class="total_text_box2">1234567890</div>
       </td>
		   <td>
		     <b>Taskpoints:</b>
		   </td>
       <td>
         <div class="total_text_box2">1234567890</div>
       </td>
      </tr>
      </table>
	   </td></tr>
     <tr><td class="vaakaviiva">
       <div class="bold_heading">Boons</div>
     </td></tr>
     <tr><td>
       <table border="0" cellpadding="3">
         <tr>
           <td>
             <div class="boon_text" title="Your damage and resistance against your mortal enemy race is increased. Use syntax: arch enemy <race>. This boon can be taken multiple times.">
              Arch enemy
             </div>
           </td><td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your enemy's defence against all your physical and magical attacks is lower.">
             Art of war
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your magical critical strikes are stronger.">
             Avada kedavra
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Increases your maximum health.">
             Beefcake! BEEFCAKE!
             </div>
           </td>
           <td>           
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Your ability to wield heavy weaponry is increased.">
             Biceps of steel
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Increases the size of your manapool.">
             Caster101 - how to get more mana
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your thick durandium skull prevents you from getting stunned so easily.">
             Durandium skull
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your spells cost fewer spell points to cast.">
             Economic conjuration
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Your skills cost fewer endurance points to use.">
             Economic exertion
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Enhances melee damage dealt by character.">
             Enhanced damage
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Helps your character stay evil.">
             Evil drift
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Makes your heart work faster.">
             Fast metabolism
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="You mutate and grow in size.">
             Gigantism
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Helps your character stay good.">
             Good drift
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your damage spells are more effective.">
             Grand sorcerer
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Increases your knowledge of one spell or skill. Use syntax: hyperspecialist <sk/sp>. This boon can be taken multiple times.">
             Hyperspecialist
             </div>
           </td>
           <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Improves your ability to avoid attacks.">
             Improved avoidance
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Improves how quickly you attack during combat.">
             Improved combat speed
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Makes your character regen spellpoints faster.">
             Improved mental regeneration
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Makes your character gain health faster.">
             Improved physical regeneration
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Raises the maximum percentile in every skill that you may have.">
             Improved skills
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Raises the maximum percentile in every spell that you may have.">
             Improved spells
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Makes your character gain stamina faster.">
             Improved stamina regeneration
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Improves character's rate of gaining experience.">
             Intensified experience
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Regenerate your health, mana and stamina when killing monsters.">
             Leecher
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="You lose less experience in death. You suffer shorter penalties from death and when resurrected, you start with more health, mana and endurance.">
             Life insurance
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Increases your maximum endurance.">
             Long distance runner
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Lady luck is on your side.">
             Lucky horseshoe
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>           
         <tr>
           <td>
             <div class="boon_text" title="Your healing spells are more effective.">
             Master healer
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Monsters that you slay drop more coins and the type of coin is more valuable.">
             Midas touch
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Improves the moon state so that spell point costs are biased more towards good moon.">
             Moon improvement
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Raises your natural constitution.">
             More constitution
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Raises your natural dexterity.">
             More dexterity
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Raises your natural intelligence.">
             More intelligence
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Raises your natural strength.">
             More strength
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Raises your natural wisdom.">
             More wisdom
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Helps your character stay neutral.">
             No drift
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your melee critical strikes are stronger.">
             Omni slash
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="You can carry more stuff without feeling fatigue.">
             Pack mule
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your items take less damage and are less likely to be disintegrated by any means.">
             Prudent adventurer
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Makes your spells go off faster.">
             Quick lips
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your chance to gain a critical melee attack is improved.">
             Reckless warrior
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Reduces endurance cost of moving around.">
             Reduced tiredness
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Resist acid type damage.">
             Resist acid damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Resist any type damage.">
             Resist any damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Resist asphyxiation type damage.">
             Resist asphyxiation damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Resist cold type damage.">
             Resist cold damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Resist electricity type damage.">
             Resist electricity damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Resist fire type damage.">
             Resist fire damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Resist magical type damage.">
             Resist magical damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Resist poison type damage.">
             Resist poison damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Resist psionic type damage.">
             Resist psionic damage
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Makes your skin harder thus improving protection.">
             Rigid skin
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Lessens your chance of fumbling a spell.">
             Semantic augmentation
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Improves your chance to hit. Decreases opponent's defensive percentile.">
             Steady hand
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Raises all stats, except charisma and size.">
             Super characteristics
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
         <tr>
           <td>
             <div class="boon_text" title="Your chance to gain a critical spell is improved.">
             Thaumaturgic accuracy
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
           <td>
             <div class="boon_text" title="Your chance to avoid ambush is greatly increased.">
             Third eye
             </div>
           </td>
            <td>
             <select class="select_boon_box">
               <option>None</option>
               <option>Tiny</option>
               <option>Small</option>
               <option>Medium</option>
               <option>Full</option>
             </select>
           </td>
         </tr>
       </table>
      
     </td></tr>
   </table>
   <!-- Extra taulukko X loppuu -->
  </td>
  </tr>
  </table>
  <!-- Pohjataulukko Gold & Exp costille & Boons loppuu -->
   
 </td>
 </tr>
 <tr>
 <td>
     
  <!-- Pohjataulukko Rotu Skills & Spells alkaa -->
  <table border="0" cellpadding="10" bgcolor="silver" width="100%">
  <tr>
  <td>
      
  <!-- Taulukko X alkaa -->
  <table border="0" width="100%">
  <tr>
  <td>
  <b class="bold_heading" id="RaceGuild_Title">Race guild name...</b>
  </td>
  </tr>
  <tr>
  <td>
  <!-- Taulukko rotu killan skills & spells alkaa -->
  <table id="RaceGuild_Skills_Spells" border="0" cellpadding="3">
  <tr><td>
  Race guild skill & spell list...
  </td></tr>
  </table>
  <!-- Taulukko rotu killan skills & spells loppuu -->
  </td>
  </tr>
  </table>
  <!-- Taulukko X loppuu -->

  </td>
  </tr>
  </table>
  <!-- Pohjataulukko Rotu Skills & Spells loppuu -->
   
 </td>
 </tr>
 <tr> 
 <td> 
 <!-- Pohjataulukko kiltojen Skills & Spells alkaa -->
 <!-- Kiltojen skillit ja spellit-->
 <table id= "Kiltataulukkopohja" cellpadding="10" bgcolor="silver" width="100%">
  <tr>
    <td>
      <div id= "Kiltat"> <!-- Kiltojen skillit ja spellit tulostuu tähän-->
      </div>
    </td>  
  </tr>  
 </table> 
 <!-- Pohjataulukko kiltojen Skills & Spells alkaa loppuu -->
</td> 
</tr> 
</table>
 <!-- Taulukko1 loppuu -->


</td></tr>
</table>
<!-- PAA taulukko loppuu -->

</body>
<script src="data.js">
</script>
<script src="guildFunctions.js">
</script>  
<script src="RaceBackgroundGuilds.js">
</script>
<script src="BoonsLevelsCost.js">
</script>
</html>