/* styles */
/* called by your view template */

/* Labelien asetukset */
.labelit {
  font-size: 16px;
  font-weight: normal;
}

/* Checkboxien asetukset */
.checkboxit {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}


/* TESTI FIXED */
.fixed_testi {
  position: fixed;
  border: 1px solid blue;
  background-color: rgba(255,200,200,0.5);  
  width: 300px;
  height: 200px;
  top: 0;
  right: 0;
}

/* skillien ja spellien paikat: */
.skills {
  margin: 1px;
} /*
.sName {
  grid-column: 1;
  grid-row: 1;
}
.sPercent {
  grid-column: 1;
  grid-row: 2;  
} */

/* Reset napin asetukset */
.reset_button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.reset_button:hover {background-color: #3e8e41}

.reset_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Select boxien asetukset */
.select_text_box {
  width: 150px;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.select_number_box {
  width: 55px;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.select_number_box2 {
  width: 85px;
  padding: 3px 3px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* Lihavoitu otsikko tekstin asetukset */
.bold_heading {
  font-size: 20px;
  font-weight: bold;
}

/* Total levels laatikon asetukset */
.total_levels {
  font-size: 20px;
}

/* Piirtää pystyviivan */
.pystyviiva {
  border-width:0px 0px 0px 2px;
  border-style:solid;
  border-color:black;
  width:0%;
  height:100%;
}

/* Piirtää vaakaviivan */
.vaakaviiva {
  border-width:2px 0px 0px 0px;
  border-style:solid;
  border-color:black;
  width:100%;
  height:0%;
}

/* Exp cost total boxin asetukset (esim Rotukillassa) */
.total_text_box {
  text-align: right;
  width: 100px;
  padding: 2px 2px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.total_text_box2 {
  text-align: right;
  padding: 2px 2px;
  width: 100px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* Boonin asetukset */
.select_boon_box {
  text-align: right;
  padding: 2px 2px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.boon_text {
  text-align: left;
  font-size: 12px;
  padding: 0px 0px;
  border: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
}

/* Skillin nimi ja spellin nimi laatikon leveys asetukset */
.skill_name_text_box {
  text-align: left;
  width: 170px;
  border: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: solid;
}

.skill_name_text_box2 {
  text-align: left;
  width: 170px;
  border: none;
}

.spell_name_text_box {
  text-align: left;
  width: 170px;
  border: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: solid;
}

.spell_name_text_box2 {
  text-align: left;
  width: 170px;
  border: none;
}

.strongFont {
  
  font-weight: bold;
}

#Kiltat {
  
  border: 5;
  /*border-radius: 5px;*/
}

.guildTable {
  
  border: 5;
}

/*  widthi rajotin*/
.nameOfSkill {
  
  width: 250px;
}